<div class="row white-bg">
  <div class="small-12 columns">
  <% if current_user.id == @profile.id%>
         <i class="fa fa-pencil-square"></i> <%= link_to 'Edit My Profile', edit_profile_path(@profile) %>
  <%end%>
  
    <p id="notice"><%= notice %></p>

    <p>
      
      
        <% if @profile.availability == true %>
          <span class="green"><i class="fa fa-check-circle"></i> Yes, I am currently available for projects.</span>
        <% else %>  
          <span class="red"><i class="fa fa-times-circle"></i> No, I am not currently available for projects.</span>
        <% end %>
    </p>

    <h3>
      <%= @profile.name %>
    </h3>
    <% if @profile.picture? %>
      <img src="<%= @profile.picture %>"/>
    <% else %>
      <%= image_tag 'avatar.jpg' %>
    <% end%>
    
    <p>
      <strong>About me:</strong>
      <%= @profile.description %>
    </p>

<strong>My Skills: </strong>
<ul>
  <% if @profile.camera == true %>
    <li>Camera</li>
  <% end %>

  <% if @profile.sound == true %>
    <li>Sound</li>
  <% end %>

  <% if @profile.writing == true %>
    <li>Writing</li>
  <% end %>

  <% if @profile.animation == true %>
    <li>Animation</li>
  <% end %>

  <% if @profile.acting  == true %>
    <li>Acting</li>
  <% end %>

  <% if @profile.lighting  == true %>
    <li>Lighting</li>
  <% end %>

  <% if @profile.grip  == true %>
    <li>Grip</li>
  <% end %>

  <% if @profile.music == true %>
    <li>Music</li>
  <% end %>

  <% if @profile.photography == true %>
    <li>Photograph</li>
  <% end %>

  <% if @profile.artdept == true %>
    <li>Art Department</li>
  <% end %>

  <% if @profile.locations == true %>
    <li>Locations</li>
  <% end %>

  <% if @profile.directing == true %>
    <li>Directing</li>
  <% end %>

  <% if @profile.producing == true %>
    <li>Producing</li>
  <% end %>

  <% if @profile.setops == true %>
    <li>Set Operations (Assistant Director):</li>
  <% end %>

  <% if @profile.hair == true %>
    <li>Hair</li>
  <% end %>

  <% if @profile.wardrobe == true %>
    <li>Wardrobe</li>
  <% end %>

  <% if @profile.food == true %>
    <li>Food</span>
  <% end %>
</ul>

</p>



    <p>
      <strong>My Experience Level:</strong>
      <%= @profile.skills %>
    </p>

    <p>
      <strong>The kinds of projects I'm interested in working on:</strong>
      <%= @profile.projects %>
    </p>

    <p>
      <strong>Contact:</strong>
      <%= @profile.contact %>
    </p>

  </div>
</div>


