<p id="notice"><%= notice %></p>

<p>
  <%= @profile.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @profile.picture %>
</p>

<p>
  <strong>About me:</strong>
  <%= @profile.description %>
</p>

<p>
  
  <% if @profile.availability == true %>
    Yes, I am currently available for projects.
  <% else %>  
    No, I am not currently available for projects.
  <% end %>
</p>

<p>

  <% if @profile.editing == true %>
    <strong>Editing</strong>
  <% end %>


  <% if @profile.camera == true %>
    <strong>Camera</strong>
  <% end %>

  <% if @profile.sound == true %>
    <strong>Sound</strong>
  <% end %>



  <% if @profile.writing == true %>
    <strong>Writing</strong>
  <% end %>

  <% if @profile.animation == true %>
    <strong>Animation</strong>
  <% end %>

  <% if @profile.acting  == true %>
    <strong>Acting</strong>
  <% end %>

  <% if @profile.lighting  == true %>
    <strong>Lighting</strong>
  <% end %>

  <% if @profile.grip  == true %>
    <strong>Grip:</strong>
  <% end %>

  <% if @profile.music == true %>
    <strong>Music</strong>
  <% end %>

  <% if @profile.photography == true %>
    <strong>Photography:</strong>
  <% end %>

  <% if @profile.artdept == true %>
    <strong>Art Department</strong>
  <% end %>

  <% if @profile.locations == true %>
    <strong>Locations</strong>
  <% end %>

  <% if @profile.directing == true %>
    <strong>Directing</strong>
  <% end %>

  <% if @profile.producing == true %>
    <strong>Producing</strong>
  <% end %>

  <% if @profile.setops == true %>
    <strong>Set Operations (Assistant Director):</strong>
  <% end %>

  <% if @profile.hair == true %>
    <strong>Hair</strong>
  <% end %>

  <% if @profile.wardrobe == true %>
    <strong>Wardrobe</strong>
  <% end %>

  <% if @profile.food == true %>
    <strong>Food:</strong>
  <% end %>

</p>


<p>
  <strong>My Skills:</strong>
  <%= @profile.skills %>
</p>

<p>
  <strong>Projects I'm interested in:</strong>
  <%= @profile.projects %>
</p>

<p>
  <strong>Contact Me:</strong>
  <%= @profile.contact %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>


