<div class="row white-bg">
  <div class="small-12 columns">
  <% if current_user.id == @profile.id%>
         <i class="fa fa-pencil-square"></i> <%= link_to 'Edit My Profile', edit_profile_path(@profile) %>
  <%end%>
  
    <p id="notice"><%= notice %></p>

    <p>
      
      
        <% if @profile.availability == true %>
          <span class="green"><i class="fa fa-check-circle"></i> Yes, I am currently available for projects.</span>
        <% else %>  
          <span class="red"><i class="fa fa-times-circle"></i> No, I am not currently available for projects.</span>
        <% end %>
    </p>

    <h3>
      <%= @profile.name %>
    </h3>
 <img src="<%= @profile.picture %>" height="100" width="100"/>
    <p>
      <strong>About me:</strong>
      <%= @profile.description %>
    </p>
<p>
  
  <% if @profile.availability == true %>
    Yes, I am currently available for projects.
  <% else %>  
    No, I am not currently available for projects.
  <% end %>
</p>

<p>


  <% if @profile.camera == true %>
    <span class="button tiny round">Camera</span>
  <% end %>

  <% if @profile.sound == true %>
    <span class="button tiny round">Sound</span>
  <% end %>

  <% if @profile.writing == true %>
    <span class="button tiny round">Writing</span>
  <% end %>

  <% if @profile.animation == true %>
    <span class="button tiny round">Animation</span>
  <% end %>

  <% if @profile.acting  == true %>
    <span class="button tiny round">Acting</span>
  <% end %>

  <% if @profile.lighting  == true %>
    <span class="button tiny round">Lighting</span>
  <% end %>

  <% if @profile.grip  == true %>
    <span class="button tiny round">Grip</span>
  <% end %>

  <% if @profile.music == true %>
    <span class="button tiny round">Music</span>
  <% end %>

  <% if @profile.photography == true %>
    <span class="button tiny round">Photograph</span>
  <% end %>

  <% if @profile.artdept == true %>
    <span class="button tiny round">Art Department</span>
  <% end %>

  <% if @profile.locations == true %>
    <span class="button tiny round">Locations</span>
  <% end %>

  <% if @profile.directing == true %>
    <span class="button tiny round">Directing</span>
  <% end %>

  <% if @profile.producing == true %>
    <span class="button tiny round">Producing</span>
  <% end %>

  <% if @profile.setops == true %>
    <span class="button tiny round">Set Operations (Assistant Director):</span>
  <% end %>

  <% if @profile.hair == true %>
    <span class="button tiny round">Hair</span>
  <% end %>

  <% if @profile.wardrobe == true %>
    <span class="button tiny round">Wardrobe</span>
  <% end %>

  <% if @profile.food == true %>
    <span class="button tiny round">Food</span>
  <% end %>

</p>



    <p>
      <strong>My Skills:</strong>
      <%= @profile.skills %>
    </p>

    <p>
      <strong>The kinds of projects I'm interested in:</strong>
      <%= @profile.projects %>
    </p>

    <p>
      <strong>Contact email:</strong>
      <%= @profile.contact %>
    </p>

  </div>
</div>


