<!DOCTYPE html>
<html>
<head>
  <title>Yegfilm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<nav class="top-bar">
		<ul class="left">
			<li><h2><a href="/">#yegfilm</a> </h2></li>
		</ul>
		<ul class ="right">
			<% if user_signed_in? %>
				<li>
	  			Hi, <%= current_user.email %>!
				</li>
				<li>
					<a href="/profiles/<%= current_user.id%>"><i class="fa fa-user"></i> View my Profile</a>
				</li>
				<li>
					 <a href="/profiles/<%= current_user.id%>/edit"><i class="fa fa-pencil-square"></i> Edit my Profile</a>
				</li>
				<li>
	  			<i class="fa fa-cog"></i> <%= link_to 'Settings', edit_user_registration_path, :class => 'navbar-link' %> 
				</li>
				<li>
	  			<i class="fa fa-sign-out"></i> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
				</li>
		
			<% else %>
				<li>
			  	<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
			  </li>
				<li>
				<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			</li>
			<% end %>
		</ul>
	</nav>
<div class="wrapper row">
		
    

	
<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>
<%= yield %>
</div>
</body>
</html>
