<!DOCTYPE html>
<html>
<head>
  <title>Yegfilm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1" />
	
	<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,700' rel='stylesheet' type='text/css'>
	
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50622799-1', 'yegfilm.herokuapp.com');
  ga('send', 'pageview');

</script>
</head>
<body>
	<div class="photo-box">
	</div>
	
	<% if params[:action] != 'new' %>
	
	<nav class="top-bar">
		<ul class="left">
			<li>
				<h2>
				<%= link_to '#yegfilm', profiles_path %> <span class="alpha">Alpha</span>
				</h2>
			</li>
		</ul>

		<ul class ="right">
			<% if user_signed_in? %>
				<li>
	  			Hi, <%= current_user.email %>!
				</li>
				<li>			
					<a href="/profiles/<%= current_user.id%>"><i class="fa fa-user"></i> View my Profile</a>
				</li>
				<li>
					 <a href="/profiles/<%= current_user.id%>/edit"><i class="fa fa-pencil-square"></i> Edit my Profile</a>
				</li>
				<li>
	  			<i class="fa fa-cog"></i> <%= link_to 'Settings', edit_user_registration_path, :class => 'navbar-link' %> 
				</li>
				<li>
	  			<i class="fa fa-sign-out"></i> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
				</li>
			<% else %>
				<li>
			  	<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
			  </li>
				<li>
				<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			</li>
			<% end %>
		</ul>
	</nav>

	<%end%>
	
<div class="wrapper row">
		
    

	
<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>
<%= yield %>
</div>
<footer><p><i class="fa fa-bug"></i> Found a bug? Want to request a feature? Email us at info[at]theedmontonianmediaco.com </p>
</body>
</html>
